
body {
    font-family: "Ricty Discord Regular";
}

.step {
    font-family: "Ricty Discord Regular";
}

#main {
    font-family: "Ricty Discord Regular";
}

#section_1 h2 {
    font-size: 92px;
}

#section_2 h2 {
    font-size: 92px;
}

#section_3 h2 {
    font-size: 92px;
}

#develop {
    width: 1200px;
}

#develop .imagination {
    font-size: 78px;
}

#develop .subtitle {
    font-size: 52px;
}

.semismall {
    font-size: 42px;
}

@font-face {
    font-family: "Ricty Discord Regular";
//    src: url(../font/"Ricty Discord Regular".ttf)
}

#canlitle.present .scaling {
    -webkit-transform: scale(0.7);
    -moz-transform:    scale(0.7);
    -ms-transform:     scale(0.7);
    -o-transform:      scale(0.7);
    transform:         scale(0.7);

    -webkit-transition-delay: 0.5s;
    -moz-transition-delay:    0.5s;
    -ms-transition-delay:     0.5s;
    -o-transition-delay:      0.5s;
    transition-delay:         0.5s;
}

#butsimple.present .positioning {
    -webkit-transform: translateY(-10px);
    -moz-transform:    translateY(-10px);
    -ms-transform:     translateY(-10px);
    -o-transform:      translateY(-10px);
    transform:         translateY(-10px);
}

#butsimple.present .rotating {
    -webkit-transform: rotate(-10deg);
    -moz-transform:    rotate(-10deg);
    -ms-transform:     rotate(-10deg);
    -o-transform:      rotate(-10deg);
    transform:         rotate(-10deg);

    -webkit-transition-delay: 0.25s;
    -moz-transition-delay:    0.25s;
    -ms-transition-delay:     0.25s;
    -o-transition-delay:      0.25s;
    transition-delay:         0.25s;
}

